<mat-form-field appearance="outline" class="my-12 w-100-p">
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>

<mat-table [dataSource]="hospitalprocedures" class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{element.rawprocedure.name | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell>Sub Category</th>
        <td *matCellDef="let element" mat-cell> {{getcategory(element.rawprocedure.category) | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="regprice">
        <th *matHeaderCellDef mat-header-cell> Regular Price</th>
        <td *matCellDef="let element" mat-cell> {{element.customprocedure.regularprice}} </td>
    </ng-container>

    <tr *matHeaderRowDef="procedureheaders" mat-header-row></tr>
    <tr *matRowDef="let row; columns: procedureheaders;" mat-row></tr>
</mat-table>
<mat-paginator [length]="hospitalprocedures.data.length"
               [pageSizeOptions]="[10, 25, 50, 100]"
               [pageSize]="10">
</mat-paginator>
