<div class="dialog-content-wrapper queue-form-dialog">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <p>
                <img class="avatar contact-avatar huge m-0" *ngIf="patient.personalinfo.gender == 1"
                     [src]="patient.personalinfo.photoURL || 'assets/images/avatars/male.png'"
                     alt="male avatar"/>

                <img class="avatar contact-avatar huge m-0" *ngIf="patient.personalinfo.gender == 0"
                     [src]="patient.personalinfo.photoURL || 'assets/images/avatars/female.png'"
                     alt="female avatar"/>
            </p>
            <div class="contact-name mt-8">{{patient.personalinfo.name}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="queueForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Visit description</mat-label>
                    <textarea matInput formControlName="description" required>
                    </textarea>
                    <mat-icon matSuffix class="secondary-text">description</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">

                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">

                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Payment type</mat-label>
                        <mat-select required formControlName="type">
                            <mat-option *ngFor="let option of paymentMethods" [value]="option">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    </mat-form-field>
                </div>

            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">


        <button mat-button
                class="save-button"
                [disabled]="queueForm.invalid"
                (click)="submitForm()"
                aria-label="SAVE">
            SAVE
        </button>


    </div>
</div>
