<div *ngIf="imeanzilisha" fxFlex="1 1 100%"
     fxLayout="row wrap"
     fxLayoutAlign="center">
    <div fxFlex="50"> Procedures
        <div *ngFor="let procedure of proceduredata.procedures" class="pb-8">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{procedure.name}}</mat-card-title>
                    <mat-card-subtitle>                    {{hospitaladmins| adminName : procedure.adminid }}
                        : {{procedure.metadata.lastedit?.toDate().toDateString()}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{procedure.results}}
                    </p>
                    <p>
                        {{procedure.notes}}
                    </p>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxFlex="50">
        Payment methods
        <div>

        </div>
    </div>
</div>
<mat-progress-spinner *ngIf="!imeanzilisha"></mat-progress-spinner>