<div class="compact page-layout blank" fxLayout="row" id="invoice">

    <div class="invoice-container">

        <!-- INVOICE -->
        <div class="card">

            <div class="header">
                <div class="invoice-date">{{patientdata.queuedata.metadata.date.toDate().toDateString()}}</div>

                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <div class="client">
                        <div class="invoice-number" fxLayout="row" fxLayoutAlign="start center">
                            <span class="title">INVOICE</span>
                            <span class="number">{{patientdata.queuedata.invoiceid}}</span>
                        </div>

                        <!--<div class="due-date" fxLayout="row" fxLayoutAlign="start center">-->
                        <!--<span class="title">DUE DATE</span>-->
                        <!--<span class="date">{{invoice.dueDate}}</span>-->
                        <!--</div>-->

                        <div class="info">
                            <div class="title">{{patientdata.patientdata.personalinfo.name}}</div>
                            <div class="address">{{patientdata.patientdata.personalinfo.address}}</div>
                            <div class="phone">{{patientdata.patientdata.personalinfo.phone}}</div>
                            <div class="email">{{patientdata.patientdata.personalinfo.email}}</div>
                        </div>
                    </div>

                    <div class="issuer " fxLayout="row" fxLayoutAlign="start center">
                        <div class="logo">
                            <img [src]="activehospital.logourl || '../../../../assets/images/logos/fuse.svg'">
                        </div>

                        <div class="info">
                            <div class="title">{{activehospital.name}}</div>
                            <div class="address">{{activehospital.contactdetails.address}}</div>
                            <div class="phone">{{activehospital.contactdetails.phone}}</div>
                            <div class="email">{{activehospital.contactdetails.email}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <table class="simple invoice-table">
                    <thead>
                    <tr>
                        <th>SERVICE</th>
                        <th class="text-right">UNIT PRICE</th>
                        <th class="text-right">QUANTITY</th>
                        <th class="text-right">TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!-- Double the invoice data for demo purposes -->
                    <tr *ngFor="let procedure of patientdata.queuedata.procedures">
                        <td>
                            <div class="title">
                                {{procedure.name}}
                            </div>
                        </td>

                        <td class="text-right">
                            {{procedure.payment.amount}}
                        </td>
                        <td class="text-right">
                            1
                        </td>
                        <td class="text-right">
                            {{procedure.payment.amount}}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="simple invoice-table-footer">
                    <tbody>
                    <tr class="subtotal">
                        <td>SUBTOTAL</td>
                        <td>{{ patientdata.queuedata.payment.total | currency:'KES':'symbol'}}</td>
                    </tr>
                    <tr class="tax">
                        <td>TAX</td>
                        <td>{{ '0' | currency:'KES':'symbol'}}</td>
                    </tr>
                    <tr class="discount">
                        <td>DISCOUNT</td>
                        <td>{{ '0' | currency:'KES':'symbol'}}</td>
                    </tr>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td>{{ patientdata.queuedata.payment.total | currency:'KES':'symbol'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="footer">
                <div>Please make your payment within 1 day of the date of issue of the date of our invoice
                    or otherwise in accordance with any credit terms agreed between us via the following official
                    channels
                    <table>
                        <tr *ngFor="let paymentchannel of activehospital.paymentmethods">
                            <td>{{allpaymentchannels | paymentmethod : paymentchannel.paymentchannelid :paymentchannel.paymentmethodid |titlecase}}</td>
                            :
                            <td>{{paymentchannel.accountnumber}}</td>
                            <td>{{paymentchannel.extrainfo}}</td>
                        </tr>
                    </table>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div class="logo">
                        <img [src]="activehospital.logourl || '../../../../assets/images/logos/fuse.svg'">
                    </div>
                    <div class="small-note">
                        We warrant that we will use reasonable care and skill in our performance of the Services which
                        will comply with the quotation, including any specification in all material respects. We can
                        make any changes to the Services which are necessary to comply with any applicable law or safety
                        requirement, and we will notify you if this is necessary.
                    </div>
                    <div class="small-note">
                        If you do not pay within the period set out above, we can suspend any further provision of the
                        Services and cancel any future services which have been ordered by, or otherwise arranged with,
                        you.
                    </div>
                </div>
            </div>

            <!--

            Use the following elements to add breaks to your pages. This will make sure that the section in between
            these elements will be printed on a new page. The following two elements must be used before and after the
            page content that you want to show as a new page. So, you have to wrap your content with them.

            Elements:
            ---------
            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

            <!--

            Example:
            --------

            Initial page content!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the second page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            This is the third page!

            <div class="page-break-after"></div>
            <div class="page-break-before"></div>

            -->

        </div>
        <!-- / INVOICE -->
        <div>
            <button *ngIf="!hidden" mat-raised-button color="accent" (click)="showPrint($event)">
                Print Invoice
            </button>
        </div>
    </div>


</div>