<mat-table #table
           [@animateStagger]="{value:'50'}" [dataSource]="adminsdatasource"
           class="admins-table"
           fusePerfectScrollbar
           matSort>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <img alt=""
                 class="admins-img"
                 src="{{admin.data.photoURL }}">
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <p class="text-truncate">{{admin.data.displayName}}</p>
        </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email
        </mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <p class="price text-truncate">
                {{admin.data.email}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone
        </mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <p class="price text-truncate">
                {{admin.profiledata.phone}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Address">
        <mat-header-cell *matHeaderCellDef>Address
        </mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <p class="price text-truncate">
                {{admin.profiledata.address}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Level">
        <mat-header-cell *matHeaderCellDef>Level
        </mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <p class="price text-truncate">
                {{leveltext(admin.config.level)}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef>Status
        </mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <p class="price text-truncate">
                {{admin.profiledata.status}}
            </p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef>Action
        </mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <p class="price text-truncate">

            </p>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="adminheaders; sticky:true" (click)="onSelect(row)"></mat-header-row>

    <mat-row *matRowDef="let admin; columns: adminheaders;"
             class="product"
             matRipple>
    </mat-row>

</mat-table>