<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Vitals
        </mat-expansion-panel-header>
        <form (ngSubmit)="addprocedure()" [formGroup]="vitalsform" class="content" class=" p-8" fxFlex="1 1 auto"
              fxLayout="column" fxLayoutAlign="start">
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="pr-4 " fxFlex="15">
                    <mat-label>height</mat-label>
                    <input formControlName="height" matInput required>
                    <mat-icon class="secondary-text" matSuffix>title</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4 " fxFlex="15">
                    <mat-label>Weight</mat-label>
                    <input formControlName="weight" matInput required>
                    <mat-icon class="secondary-text" matSuffix>title</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4 " fxFlex="15">
                    <mat-label>Pressure</mat-label>
                    <input formControlName="pressure" matInput required>
                    <mat-icon class="secondary-text" matSuffix>title</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4 " fxFlex="15">
                    <mat-label>Heart Rate</mat-label>
                    <input formControlName="heartrate" matInput required>
                    <mat-icon class="secondary-text" matSuffix>title</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4 " fxFlex="15">
                    <mat-label>Sugar</mat-label>
                    <input formControlName="sugar" matInput required>
                    <mat-icon class="secondary-text" matSuffix>title</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4 " fxFlex="15">
                    <mat-label>Respiration</mat-label>
                    <input formControlName="respiration" matInput required>
                    <mat-icon class="secondary-text" matSuffix>title</mat-icon>
                </mat-form-field>
            </div>

            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <button class="py-4" color="accent" mat-raised-button>Save Vitals</button>
            </div>
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Procedures Performed ({{procedurestoday.length}})
        </mat-expansion-panel-header>
        <div *ngFor="let procedure of procedurestoday">
            <mat-card class="p-24">
                <mat-card-header>
                    <div class="example-header-image" mat-card-avatar></div>
                    <mat-card-title>{{procedure.name}}</mat-card-title>
                    <mat-card-subtitle>{{getadmin(procedure.adminid)}}
                        : {{procedure.metadata.lastedit?.toDate().toDateString()}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{procedure.notes}}
                    </p>
                    <p>
                        {{procedure.results}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="expand">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Perform Procedure
            </mat-panel-title>
            <mat-panel-description>
                {{selectedprocedure?.rawprocedure?.name}}
                --- {{getcategory(selectedprocedure?.rawprocedure?.category) }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>

            <!-- HORIZONTAL STEPPER -->
            <mat-horizontal-stepper [linear]="true" class="mat-elevation-z4">

                <mat-step [stepControl]="procedureselection">
                    <ng-template matStepLabel>Select Procedure</ng-template>

                    <form [formGroup]="procedureselection"   fxFlex="1 0 auto"
                          fxLayout="column" fxLayoutAlign="start">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Select Procedure</mat-label>
                            <input [matAutocomplete]="auto" aria-label="Number" formControlName="selection" matInput
                                   type="text">
                            <mat-error>Procedure required!</mat-error>
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete" fxFlex="100">
                            <mat-option *ngFor="let procedure of filteredprocedures | async"
                                        [value]="procedure.rawprocedure.name">
                                {{procedure.rawprocedure.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </form>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button color="accent" mat-raised-button matStepperNext type="button">
                            Next
                        </button>
                    </div>
                </mat-step>

                <mat-step>

                    <ng-template matStepLabel>Procedure Results</ng-template>

                    <div [@animate]="{value:'*', params:{delay:'400ms',scale:'0.2'}}">
                        <form (ngSubmit)="addprocedure()" [formGroup]="procedureperformed"
                              class=" p-24"
                              fxFlex="1 0 auto"
                              fxLayout="column"
                              fxLayoutAlign="start">
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" class="pr-4 " fxFlex="100">
                                    <mat-label>Results</mat-label>
                                    <input formControlName="results" matInput required>
                                    <mat-icon class="secondary-text" matSuffix>title</mat-icon>
                                    <mat-error>Results required!</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Notes</mat-label>
                                    <textarea cdkAutosizeMaxRows="25"
                                              cdkAutosizeMinRows="2"
                                              cdkTextareaAutosize
                                              formControlName="results"
                                              matInput
                                              required></textarea>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mr-8" color="primary" mat-raised-button matStepperPrevious type="button">
                                    Previous
                                </button>
                                <button color="accent" mat-raised-button type="button">
                                    Save Procedure
                                </button>
                            </div>
                        </form>
                    </div>

                </mat-step>

            </mat-horizontal-stepper>
            <!-- / HORIZONTAL STEPPER -->
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>
<div>
    <button class="py-4" color="primary" mat-raised-button>Internal Referral</button>

    <button class="py-4" color="accent" mat-raised-button>Exit Patient</button>
</div>