<div>
    <!-- SIDEBAR HEADER -->
    <div class="header accent p-24" fxLayout="column" fxLayoutAlign="space-between">

        <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">

            <button (click)="clearselection()" mat-icon-button matTooltip="Clear">
                <mat-icon>clear</mat-icon>
            </button>
            <button (click)="saveprocedureconfig()" aria-label="More" mat-icon-button matTooltip="Save">
                <mat-icon>save</mat-icon>
            </button>
        </div>

        <div>
            <div class="title mb-8"><strong>{{clickedadmin.data.displayName| titlecase}}</strong></div>
            <div class="subtitle secondary-text">
                <span>Level :
                    <mat-chip-list>
                    <mat-chip  *ngFor="let text of categoryarray()" color="primary" selected>{{text}}</mat-chip>
                </mat-chip-list>
                </span>

            </div>
        </div>
    </div>
    <!-- / SIDEBAR HEADER -->

    <!-- SIDEBAR CONTENT -->
    <div class="content p-24" fusePerfectScrollbar>


    </div>
</div>
<!-- / SIDEBAR CONTENT -->
